body {
  font-family: 'helvetica', sans serif;
  background-color: #ecf0f1;
  color: #d34e50;
}

h1 {
  color: #d34e50;
}

h2 {
  color: #285a78;
}

.container {
  text-align: center;
  padding: 15px;
  width: 50%;
  color: #887f8d;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}
