<h1>welcome to quora! we hope you learn a thing.</h1>


  {{#each model as |question|}}
  <div class="well">
  {{#link-to 'question' question.id}}{{question.ask}}{{/link-to}}
  </div>
  {{/each}}



{{new-question save="save"}}
<br><br>

{{#link-to 'about'}}about{{/link-to}}<br>
{{#link-to 'contact'}}contact{{/link-to}}<br>
{{#link-to 'index'}}home{{/link-to}}<br>
