<h1>welcome to quora! we hope you learn a thing.</h1>

<ul>
  {{#each model as |question|}}
  <li>{{question.user}}</li>
  {{/each}}
</ul>


{{new-question save="save"}}
<br><br>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
